
<select [(ngModel)]="selectedMonth">
  <option [value]="null">Не выбрано</option>
  <option *ngFor="let item of months" [value]="item.id">{{item.name}}</option>
</select>

<select [(ngModel)]="selectedYear">
  <option [value]="null">Не выбрано</option>
  <option *ngFor="let item of years" [value]="item">{{item}}</option>
</select>

<button class="btn btn-sm btn-primary" (click)="loadWeather()">ПоказатьПогоду</button>
<div style="margin-left:5%" *ngIf="isLoading" class="spinner-border" role="status">
  <span class="visually-hidden"></span>
</div>
<div>
  <p *ngIf="errorMessage !== ''">Ошибка: {{errorMessage}}</p>
</div>
<table *ngIf="!isLoading" class="table table-striped" id="weather_table">
  <thead>
    <tr>
      <td>Дата</td>
      <td>Dремя</td>
      <td>Температура</td>
      <td>Влажность</td>
      <td>Точка росы</td>
      <td>Давление</td>
      <td>Направление ветра</td>
      <td>Скорость ветра</td>
      <td>Облачность</td>
      <td>Граница облачности</td>
      <td>Видимость</td>
      <td>Погодные явления</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let w of infWeather">
      <td>{{w?.dateOfTaking}}</td>
      <td>{{w?.timeOfTaking}}</td>
      <td>{{w?.temparature}}</td>
      <td>{{w?.humidity}}</td>
      <td>{{w?.dewPoint}}</td>
      <td>{{w?.pressure}}</td>
      <td>{{w?.windDirection}}</td>
      <td>{{w?.windSpeed}}</td>
      <td>{{w?.cloudiness}}</td>
      <td>{{w?.cloudBase}}</td>
      <td>{{w?.horizontalVisibility}}</td>
      <td>{{w?.weatherCondition}}</td>
    </tr>
  </tbody>
</table>
<div style="position:absolute; display:flex; right:5%; width:25%">
  <button class="btn btn-sm btn-primary" (click)="changePageDown()" [disabled]="!isDownPage" style="width:20%;height:10%">Назад</button>
  <button class="btn btn-sm btn-primary" (click)="changePageUp()" [disabled]="!isUpPage" style="width:20%;height:10%">Вперед</button>
  <p style="width:25%; margin-left:3%; align-content:center">{{pageNumber}} из {{countOfPages}}</p>
</div>

